<tr>
 <td><%= team.name %></td>
 <td><%= team.user %></td>
 <td><%= team.poule.name %></td>
 <td><%= link_to 'Show', team %></td>
 <td><%= link_to 'Edit', edit_team_path(team) %></td>
 <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>