<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poule.name %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @poule.encrypted_password %>
</p>

<p>
  <strong>Reset password token:</strong>
  <%= @poule.reset_password_token %>
</p>

<p>
  <strong>User:</strong>
  <%= @poule.user %>
</p>

<%= link_to 'Edit', edit_poule_path(@poule) %> |
<%= link_to 'Back', poules_path %>
