<h1>Listing tour_teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Poule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_teams.each do |tour_team| %>
      <tr>
        <td><%= tour_team.name %></td>
        <td><%= tour_team.user %></td>
        <td><%= tour_team.poule %></td>
        <td><%= link_to 'Show', tour_team %></td>
        <td><%= link_to 'Edit', edit_tour_team_path(tour_team) %></td>
        <td><%= link_to 'Destroy', tour_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour team', new_tour_team_path %>
