<div class="row">
     <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div> 
<!-- Main Content Section -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-9 columns">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour_team.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @tour_team.user %>
</p>

<p>
  <strong>Poule:</strong>
  <%= @tour_team.poule %>
</p>

<%= link_to 'Edit', edit_tour_team_path(@tour_team) %> |
<%= link_to 'Back', tour_teams_path %>

<h2>Renners</h2>
<%= render @tour_team.tourteamrider %>

</div>