<%= simple_form_for(@cycling_team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :logo %>
    <%= f.input :tdf %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
