<div class="row">    
    
    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">

<p id="notice"><%= notice %></p>
<%= link_to 'Terug naar alle teams', cycling_teams_path %>

<%= render :partial => @cycling_team %>

<p><strong>Renners</strong></p>
<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Geboorte datum</th>
      <th>Nationaliteit</th>
    </tr>
  </thead>
  <tbody>
 	  <%= render @cycling_team.riders %>
  </tbody>
</table>

<% if current_user.try(:admin?) %>
	<%= link_to 'New Rider', new_rider_path %>
<% end %>  


</div>

