<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @td_fgame_team.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @td_fgame_team.name %>
</p>

<%= link_to 'Edit', edit_td_fgame_team_path(@td_fgame_team) %> |
<%= link_to 'Back', td_fgame_teams_path %>
