<div class="row">
     <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div> 
<!-- Main Content Section -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-9 columns">


<%= simple_form_for(@rider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :birthday %>
    <%= f.association :country %>
    <%= f.input :tdf %>
    <%= f.input :allround %>
    <%= f.input :climber %>
    <%= f.input :sprinter %>
    <%= f.input :classic %>
    <%= f.input :yellow %>
    <%= f.input :green %>
    <%= f.input :white %>
    <%= f.input :polka %>
    <%= f.association :cycling_team %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
