<h1>Listing riders</h1>

<table>
  <thead>
    <tr>
      <th>Cyclingteams</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Country</th>
      <th>Tdf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riders.each do |rider| %>
      <tr>
        <td><%= rider.CyclingTeams %></td>
        <td><%= rider.name %></td>
        <td><%= rider.birthday %></td>
        <td><%= rider.country %></td>
        <td><%= rider.tdf %></td>
        <td><%= link_to 'Show', rider %></td>
        <td><%= link_to 'Edit', edit_rider_path(rider) %></td>
        <td><%= link_to 'Destroy', rider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rider', new_rider_path %>
