<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rider.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @rider.birthday %>
</p>

<p>
  <strong>Country:</strong>
  <%= @rider.country %>
</p>

<p>
  <strong>Tdf:</strong>
  <%= @rider.tdf %>
</p>

<p>
  <strong>Allround:</strong>
  <%= @rider.allround %>
</p>

<p>
  <strong>Climber:</strong>
  <%= @rider.climber %>
</p>

<p>
  <strong>Sprinter:</strong>
  <%= @rider.sprinter %>
</p>

<p>
  <strong>Classic:</strong>
  <%= @rider.classic %>
</p>

<p>
  <strong>Yellow:</strong>
  <%= @rider.yellow %>
</p>

<p>
  <strong>Green:</strong>
  <%= @rider.green %>
</p>

<p>
  <strong>White:</strong>
  <%= @rider.white %>
</p>

<p>
  <strong>Polka:</strong>
  <%= @rider.polka %>
</p>

<p>
  <strong>Cycling team:</strong>
  <%= @rider.cycling_team %>
</p>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_rider_path(@rider) %> |
<% end %>
<%= link_to 'Back', riders_path %>
