<h1>Listing td_fgame_team_riders</h1>

<table>
  <thead>
    <tr>
      <th>Tdfgameteam</th>
      <th>Rider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @td_fgame_team_riders.each do |td_fgame_team_rider| %>
      <tr>
        <td><%= td_fgame_team_rider.tdfgameteam %></td>
        <td><%= td_fgame_team_rider.rider %></td>
        <td><%= link_to 'Show', td_fgame_team_rider %></td>
        <td><%= link_to 'Edit', edit_td_fgame_team_rider_path(td_fgame_team_rider) %></td>
        <td><%= link_to 'Destroy', td_fgame_team_rider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Td fgame team rider', new_td_fgame_team_rider_path %>
