<p id="notice"><%= notice %></p>

<p>
  <strong>Tdfgameteam:</strong>
  <%= @td_fgame_team_rider.tdfgameteam %>
</p>

<p>
  <strong>Rider:</strong>
  <%= @td_fgame_team_rider.rider %>
</p>

<%= link_to 'Edit', edit_td_fgame_team_rider_path(@td_fgame_team_rider) %> |
<%= link_to 'Back', td_fgame_team_riders_path %>
